{
  "name": "<%= npmPackageName %>",
  "version": "<%= npmPackageVersion %>",
  "main": "<%= vueComponentName %>.vue",
  "homepage": "<%= vividElementDocUrl %>",
  "dependencies": {
    "@vonage/vivid": "<%= vividPackageVersion %>"
  }
}